<h1> Patient Lookup</h1>

<%= form_tag("/patients/lookup", method: "get") do %>
    <%= label_tag(:lookup_search, "Last Name Lookup:") %>
    <%= text_field_tag(:lookup_search) %>
    <%= submit_tag("Look-up") %>
<% end %>

<% if (params[:lookup_search]) %>  <!-- Show table header only when form is submitted -->
    <%  unless(@patients.empty?) %>
        <table>
          <thead>
          <tr>
            <th>First name</th>
            <th>Last name</th>
            <th>Dob</th>
            <th>Gender</th>
            <th>Age</th>
            <th>Home address</th>
            <th>Previous address</th>
            <th>Phone number</th>
            <th>Email</th>
            <th>Receive Text Messages?</th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
          </thead>


          <tbody>
          <% @patients.each do |patient| %>
              <tr>
                <td><%= patient.first_name %></td>
                <td><%= patient.last_name %></td>
                <td><%= patient.DOB %></td>
                <td><%= patient.gender %></td>
                <td><%= patient.age %></td>
                <td><%= patient.home_address %></td>
                <td><%= patient.previous_address %></td>
                <td><%= patient.phone_number %></td>
                <td><%= patient.email %></td>
                <td><%= patient.receive_txt %></td>
                <td><%= link_to 'Show', patient %></td>
                <td><%= link_to 'Edit', edit_patient_path(patient) %></td>
                <td><%= link_to 'Follow-up Forms', new_patient_path(patient) %></td>
                <!--<td><%= link_to 'Destroy', patient, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
              </tr>
          <% end %>
          </tbody>
        </table>

    <% else %>

        <p> No records found for this patient. <%= link_to 'Patient Check-in', new_patient_path(@patient) %> </p>
        <!-- When the new patient is checked in, the first name, last name, DOB form fields should already be filled in for the new patient view & form -->
        <!-- Perhaps use create, not new. but logic should be in controller not the view file -->
    <% end %>



<% end %>
